<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Personal Portofolio</title>
  </head>
  <body>
    <header>
      <div class="navbar">
        <span class="name">MATHEUS PEREIRA MARTINS</span>
        <button onclick="toggleMenu()" id="hambbutton" class="hamb01">
          <img class="hamburguer" src="/images/menuresponsivo.png" alt="" />
        </button>
        <ul id="default">
          <li>
            <span class="hamb"
              ><a class="responsivelink floatright marginright" href="/contato"
                >CONTATO</a
              ></span
            >
          </li>
          <li>
            <span class="hamb"
              ><a class="responsivelink floatright" href="/portfolio"
                >PORTFOLIO</a
              ></span
            >
          </li>
          <li>
            <span class="hamb"
              ><a class="responsivelink floatright" href="/about"
                >SOBRE</a
              ></span
            >
          </li>
          <li>
            <span class="hamb"
              ><a
                class="responsivelink floatright"
                href="/
              "
                >INÍCIO</a
              ></span
            >
          </li>
        </ul>
        <ul id="responsive">
          <li>
            <span class="hamb"
              ><a class="responsivelink" href="/contato">CONTATO</a></span
            >
          </li>
          <li>
            <span class="hamb"
              ><a class="responsivelink" href="/portoflio">PORTFOLIO</a></span
            >
          </li>
          <li>
            <span class="hamb"
              ><a class="responsivelink" href="/sobre">SOBRE</a></span
            >
          </li>
          <li>
            <span class="hamb"
              ><a class="responsivelink" href="/home">INÍCIO</a></span
            >
          </li>
        </ul>
      </div>
    </header>
    <div class="thirdpage">
      <div class="thirdpagetitle">Entre em contato</div>
      <br />
      <div class="thirdpagesubtitle">pelas redes sociais abaixo</div>
      <div class="links">
        <button class="twitter">
          <img src="/images/twitter.png" alt="" /><span class="twitterspan"
            >Twitter</span
          >
        </button>
        <button class="freecodecamp">
          <img src="/images/whatsapp.png" alt="" />
          <span class="whatsappspan"> WhatsApp</span>
        </button>
        <button class="github">
          <img src="/images/github.png" alt="" /><span class="githubspan"
            >Github</span
          >
        </button>
      </div>
    </div>

    <div class="bar">
      <span class="help">Entre em contato!</span>
      <button class="sayhi">Diga olá</button>
      <div class="clear"></div>
    </div>
  </body>
</html>
