<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Personal Portofolio</title>
  </head>
  <body>
    <header>
      <div class="navbar">
        <span class="name">MATHEUS PEREIRA MARTINS</span>
        <button onclick="toggleMenu()" id="hambbutton" class="hamb01">
          <img class="hamburguer" src="/images/menuresponsivo.png" alt="" />
        </button>
        <ul id="default">
          <li>
            <span class="hamb"
              ><a class="responsivelink floatright marginright" href="/contato"
                >CONTATO</a
              ></span
            >
          </li>
          <li>
            <span class="hamb"
              ><a class="responsivelink floatright" href="/portfolio"
                >PORTFOLIO</a
              ></span
            >
          </li>
          <li>
            <span class="hamb"
              ><a class="responsivelink floatright" href="/about"
                >SOBRE</a
              ></span
            >
          </li>
          <li>
            <span class="hamb"
              ><a
                class="responsivelink floatright"
                href="/
              "
                >INÍCIO</a
              ></span
            >
          </li>
        </ul>
        <ul id="responsive">
          <li>
            <span class="hamb"
              ><a class="responsivelink" href="/contato">CONTATO</a></span
            >
          </li>
          <li>
            <span class="hamb"
              ><a class="responsivelink" href="/portoflio">PORTFOLIO</a></span
            >
          </li>
          <li>
            <span class="hamb"
              ><a class="responsivelink" href="/sobre">SOBRE</a></span
            >
          </li>
          <li>
            <span class="hamb"
              ><a class="responsivelink" href="/home">INÍCIO</a></span
            >
          </li>
        </ul>
      </div>
    </header>

    <div class="thirdpage">
      <div class="thirdpagetitle">Portfolio</div>
      <br />
      <div class="thirdpagesubtitle">
        Abaixo está alguns dos projetos que desenvolvi
      </div>
      <button class="paddingport">
        <img class="portfoliophoto" src="/images/restaurante.png" alt="" />
        <p class="phototitle">Site de Restaurante</p>
        <p class="photosubtitle">HTML, CSS e Javascript</p>
      </button>
      <button class="paddingport">
        <img class="portfoliophoto" src="/images/audioplayer.png" alt="" />
        <p class="phototitle">Audioplayer</p>
        <p class="photosubtitle">HTML, CSS e Javascript</p>
      </button>
      <button class="paddingport">
        <img
          class="portfoliophoto"
          src="/images/fotografiawebsite.png"
          alt=""
        />
        <p class="phototitle">Site de fotografia</p>
        <p class="photosubtitle">HTML, CSS e Javascript</p>
      </button>
    </div>

    <script src="/js/script.js"></script>
  </body>
</html>
